@import '@/styles/tailwind.css';

/* ---- layout ---- */
body {
  @apply m-0 min-h-screen p-0;
  @apply font-sans text-base leading-7 tracking-normal antialiased;
  @apply bg-page text-body;
  overflow-y: scroll;
}

.container {
  @apply w-full max-w-full;
  padding-right: var(--body-margin-right);
  padding-left: var(--body-margin-left);
}

.container > main {
  @apply max-w-content pt-page mx-auto;
  min-height: calc(100vh - var(--page-half-top) * 2 - 20px);
}

/* ---- selection ---- */
::selection {
  background-color: var(--selection);
}

/* ---- transitions ---- */
.page-transition {
  @apply transition-all duration-300 ease-in-out;
}

/* ---- scrollbar ---- */
* {
  --scrollbar-size: 16px;
  --scrollbar-size-min: 44px;
  --scrollbar-color: var(--gray-200);
  scrollbar-color: var(--scrollbar-color) transparent;
  /* firefox */
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: var(--scrollbar-size);
  height: var(--scrollbar-size);
}

::-webkit-scrollbar-thumb {
  min-width: var(--scrollbar-size-min);
  min-height: var(--scrollbar-size-min);
  background-color: var(--scrollbar-color);
  background-clip: padding-box;
  border: 5px solid transparent;
  border-radius: var(--scrollbar-size);
}

::-webkit-scrollbar-thumb:hover {
  --scrollbar-color: var(--gray-300);
}

::-webkit-scrollbar-thumb:active {
  --scrollbar-color: var(--gray-300);
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-button,
::-webkit-scrollbar-corner,
::-webkit-resizer {
  display: none;
}
