---
import BaseFonts from './base-fonts.astro';
---

{/* 문자 인코딩 설정 */}
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="icon" href="/favicon.svg" />

{/* 폰트 설정 */}
<BaseFonts />

{/* 메타 태그 */}
<title>사이트 제목</title>
<meta name="title" content="사이트 제목" />
<meta name="description" content="사이트 설명" />
