---
import '@/styles/global.css';

import BaseHead from '@/components/common/base-head.astro';
---

<html lang="ko">
  <head>
    <BaseHead />
  </head>

  <body class="page-transition">
    <div class="container">
      <main class={`${Astro.props.class || ''}`}>
        <slot />
        <div class="h-14"></div>
      </main>
    </div>
  </body>
</html>
